<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aportacion.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @aportacion.email %>
</p>

<p>
  <strong>Dni cif:</strong>
  <%= @aportacion.dni_cif %>
</p>

<p>
  <strong>Dir1:</strong>
  <%= @aportacion.dir1 %>
</p>

<p>
  <strong>Dir2:</strong>
  <%= @aportacion.dir2 %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @aportacion.cp %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @aportacion.localidad %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @aportacion.provincia %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @aportacion.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @aportacion.email %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @aportacion.cantidad %>
</p>

<p>
  <strong>En mecenas:</strong>
  <%= @aportacion.en_mecenas %>
</p>

<p>
  <strong>Certificado:</strong>
  <%= @aportacion.certificado %>
</p>

<p>
  <strong>Comprobado:</strong>
  <%= @aportacion.comprobado %>
</p>

<%= link_to 'Edit', edit_aportacion_path(@aportacion) %> |
<%= link_to 'Back', aportacions_path %>
